
/* CUSTOM STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC);*/

body {
	background: #ededed;
}


li {
	margin: 0;
}

a {
	/* font-size: 18px; */
	/* text-decoration: none; */
}

span {
	/* display: block; */
	/* font-size: .75em; */
	/* font-style: italic; */
	/* position: relative; */
	/* top: 5px; */
}

.multi {
	display: inline;
	top: 0;
	left: 3px;
}

img {
	max-width: 100%;
}

.programs,
.courses {
}

.programs {
	font-size: 0;
	margin-bottom: 15px;
	margin-top: 15px;
	float: left;
	width: 100%;
	display: block;
	background: #E8E8E8;
	padding: 15px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration:  0.3s;
	-o-transition-duration: 0.3s;
	transition-duration:  0.3s;
	padding-top: 0;
}

.programs button,.programs a {
	border: 0px solid #ededed;
	font-size: 14px;
	padding: 5px;
	/* background: #808080; */
	margin: 0 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration:  0.3s;
	-o-transition-duration: 0.3s;
	transition-duration:  0.3s;
	float: left;
	display: block;
	margin: 2px;
	color: #353535;
	/* width: 100%; */
}

.programs button:hover {background: #ABABAB;color: white;}

.programs .active {
	/* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) inset, 0px 0px 1px transparent; */
	color: white;
	background: #ca1509;
}

.courses {padding: 0;}

.courses li {
	text-align: center;
	font-size: 14px;
	display: inline-block;
	/* width: 46%; */
	/* margin: 0 2%; */
	z-index: 1;
}

.courses a {
	display: block;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration:  0.3s;
	-o-transition-duration: 0.3s;
	transition-duration:  0.3s;
}

.courses a:hover {
	/* background: #99cfe0; */
}

.courses .mix-target {
	display: none;
}

.p, .p a {
  font-size: 14px;
  text-align: center;
}
