GLOBAL*/

/*Panoramic*/
@media only screen and (max-width:9999px) { }

/*Big Desktop*/
@media only screen and (min-width:1200px) { }

/*Small Desktop*/
@media only screen and (max-width:979px) { }

/*iPad*/
@media only screen and (max-width:767px) {
    #menu-button { text-indent: -999px; }
    .header img { max-width: 149px; }
    .header { position: fixed; width: 100%; z-index: 12; top: 0; }
    #cssmenu > ul > li > a { padding: 14px !important; }
    #cssmenu ul ul ul li a { background: white }
    #cssmenu > ul > li.has-sub > a { color: black !important; }
    #cssmenu > ul > li.has-sub > a { color: black !important; }
    #cssmenu > ul > li:hover > a,
    #cssmenu > ul > li.active > a { background: inherit !important; }
    .mainMenu { background: inherit !important; position: fixed; width: 100%; top: 0; background: transparent !important; z-index: 12 !important; }
    #cssmenu { position: fixed; top: 0; background: inherit !important; }
}

/*Mobile*/
@media only screen and (max-width:480px) {
    /*countdown*/
    .time {height: 38px !important;width: 30px !important;}
    
    img.socialImg { width: 24%; }
    img.connect { width: 83%; }
    .usabilla_live_button_container { display: none; }
    img.logo { max-width: 134px; margin-left: 9px; }
    span.submenu-button { display: none !important; }

    /*GLOBAL*/
    * { -webkit-user-select: none;  /* Chrome all / Safari all */ -moz-user-select: none;     /* Firefox all */ -ms-user-select: none;      /* IE 10+ */ user-select: none; }
    div#menu-button { padding: 23px !important; text-indent: -999px !important; }
    .products { padding: 0 !important; }
    .productContent { padding: 5px }
    .sliders { margin-top: 98px; }
    .header img { max-width: 127px !important; margin-left: 10px; }
    .bannerSlider { width: 100%; margin: 0; margin-bottom: 0px; }

    /*BANNER*/
    .logoBanner { margin: auto; float: none !important; margin-bottom: -19px; }
    .bottomBanner { padding-bottom: 20px }
    .bottomBanner .slick-prev { left: inherit; }
    .bottomBanner .slick-next { right: 0px !important; }
    .bannerSlider .slick-dots { bottom: -24px; }
    .bannerSlider .slick-dots li { background: transparent !important; }
    .bannerSlider .slick-dots li.slick-active button:before { color: black }
    .cbp-popup-singlePage .cbp-popup-content { margin-top: 96px !important; }
    .cbp-popup-close { top: 42px !important; }

    /*DETAIL*/
    .detailThumbs { display: none !important; }
    .detailName { text-align: center; }
    .detailSlider { margin-bottom: 41px; }
    .detailPayment { background-size: 56%; }
    .descriptionContainer { padding: 0 !important; }
}

/*Extra Small*/
@media only screen and (max-width:320px) { }

/*EXCEPTIONS*/
@media (min-width:481px) and (max-width:783px) {
    .sliders { margin-top: 97px; }
}
/*ARROWS
@media  (min-width:1350px) and (max-width:9999px) {
.mainSlider .slick-next { right: 14% !important; }
.mainSlider .slick-prev { left: 14% !important; }
}
@media  (min-width:1330px) and (max-width:1349px) {
.mainSlider .slick-next { right: 12% !important; }
.mainSlider .slick-prev { left: 12% !important; }
}
*/
@media (min-width:180px) and (max-width:767px) {
      #cuenta-atras{display: none;}
}

  

