@font-face { font-family: 'RobotoRegular'; src: url('../fonts/RobotoRegular.eot'); src: url('../fonts/RobotoRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/RobotoRegular.woff2') format('woff2'), url('../fonts/RobotoRegular.woff') format('woff'), url('../fonts/RobotoRegular.ttf') format('truetype'), url('../fonts/RobotoRegular.svg#RobotoRegular') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'roboto-medium'; src: url('../fonts/roboto-medium.eot'); src: url('../fonts/roboto-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-medium.woff2') format('woff2'), url('../fonts/roboto-medium.woff') format('woff'), url('../fonts/roboto-medium.ttf') format('truetype'), url('../fonts/roboto-medium.svg#roboto-medium') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'roboto-thin'; src: url('../fonts/roboto-thin.eot'); src: url('../fonts/roboto-thin.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-thin.woff2') format('woff2'), url('../fonts/roboto-thin.woff') format('woff'), url('../fonts/roboto-thin.ttf') format('truetype'), url('../fonts/roboto-thin.svg#roboto-thin') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'archivonarrow-bi'; src: url('../fonts/archivonarrow-bi.eot'); src: url('../fonts/archivonarrow-bi.eot?#iefix') format('embedded-opentype'), url('../fonts/archivonarrow-bi.woff2') format('woff2'), url('../fonts/archivonarrow-bi.woff') format('woff'), url('../fonts/archivonarrow-bi.ttf') format('truetype'), url('../fonts/archivonarrow-bi.svg#archivonarrow-bi') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'open_sans_regular-webfont'; src: url('../fonts/open_sans_regular-webfont.eot'); src: url('../fonts/open_sans_regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans.woff2') format('woff2'), url('../fonts/open_sans_regular-webfont.woff') format('woff'), url('../fonts/opensans.ttf') format('truetype'), url('../fonts/open_sans_regular-webfont.svg#open_sans_regular-webfont') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'dosis-regular'; src: url('../fonts/dosis-regular.eot'); src: url('../fonts/dosis-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/dosis-regular.woff2') format('woff2'), url('../fonts/dosis-regular.woff') format('woff'), url('../fonts/dosis-regular.ttf') format('truetype'), url('../fonts/dosis-regular.svg#dosis-regular') format('svg'); font-weight: normal; font-style: normal; }
* { outline: none !important; }
.np { padding: 0 !important }
.header { background: #b70000;/* min-height: 80px; */ padding: 4px 4px 13px 4px; position: fixed; z-index: 12; width: 100%; }
.header img { display: block; max-width: 219px; margin-top: 10px; }

/*.mainSlider a {background: red; display: table; padding-bottom: 15px; margin: auto; }*/
.mainSlider span {/* background: red; */display: table;/* padding-bottom: 15px; */ margin: auto; }
.mainSlider .imgLeft { width: 50%; float: left; }
.mainSlider .imgRight { width: 50%; float: right; }
.mainSlider a img { float: none; margin: auto; }
.mainSlider { z-index: 2 !important; margin-bottom: -356px !important;/* max-height: 375px; */ }
.sliderFondos { z-index: 1; min-height: 350px; }
.sliderFondos .fondo { min-height: 389px !important; background-position: center center; background-size: cover; }
.slide1b { background: url("../slider/01b.jpg") }
.slide2b { background: url("../slider/02b.jpg") }
.slide3b { background: url("../slider/03b.jpg") }
.slide4b { background: url("../slider/04b.jpg") }
.slide5b { background: url("../slider/05b.jpg") }
.slide6b { background: url("../slider/06b.jpg") }
.sliders { overflow: hidden; max-height: 403px; margin-top: 117px; }
.slick-dots li:first-child { -webkit-border-top-left-radius: 8px; -webkit-border-top-left-radius: 8px; -webkit-border-bottom-left-radius: 8px; -moz-border-radius-topleft: 8px; -moz-border-radius-bottomleft: 8px; border-top-left-radius: 8px; border-bottom-left-radius: 8px; }
.slick-dots li:last-child { -webkit-border-top-right-radius: 8px; -webkit-border-bottom-right-radius: 8px; -moz-border-radius-topright: 8px; -moz-border-radius-bottomright: 8px; border-top-right-radius: 8px; border-bottom-right-radius: 8px; }

/*.mainMenu li { background: #CACACA; display: block; float: left; width: 12.5%; padding: 12px; }
.mainMenu { background: #cacaca; }*/
.productName { border-bottom: solid 1px #e1e1e1; height: 70px; font-size: 13px; margin-bottom: 6px; padding-top: 10px; }
.row.products { margin-bottom: 200px; }
.product img { }
.imageContainer { -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;/* border: solid 1px #ccc; */ padding: 4px; background: white; }
.abcPrice { color: #FB2E16; font-size: 13px; min-height: 20px; font-family: 'roboto-medium'; }
.internetPrice { min-height: 20px; font-size: 12px; color: #262626; font-family: 'roboto-medium'; }
.normalPrice { color: #9f9f9f; font-size: 12px; }
a { }
a.loQuiero { background: #ca1500; margin-top: 10px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; padding: 5px; color: white; font-size: 15px; }
a.loQuiero:hover { background: #B72C1C; }
.products { min-height: 200px; }
.product { margin-bottom: 20px; padding: 0 !important; }
.wrap { background: #f9f7f7; }
.sidebar { padding: 0 !important; padding-top: 15px !important; }
a.sidebarLink { margin-bottom: 12px; display: block; -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; cursor: pointer; }
a.sidebarLink img { -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; cursor: pointer; }
.product:hover {    /* -webkit-transform: scale(1.05); */

/* transform: scale(1.05); */ }
.products { padding: 0 15px; }
a.sidebarLink:hover { -webkit-transform: scale(.95); transform: scale(1.05); opacity: .8; }
a.sidebarLink img:hover {    /* border: solid 6px #656565; */ }
.discount { background: url("../img/global/discount.png"); width: 43px; position: relative; left: 11px; top: -3px; height: 54px; color: yellow; text-align: center; font-family: 'archivonarrow-bi'; line-height: 12px; padding-top: 7px; font-size: 18px; margin-bottom: -54px; display: none; }
.discount span { font-size: 11px; }
.bottomBanner { background: url("../img/banner/background.jpg"); background-size: cover; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px;/* padding-bottom: 20px; */ }
.productContent { -webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; padding: 15px; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; }
.productContent:hover { -webkit-transform: scale(1.05); transform: scale(1.05); background: #F1F1F1;    /* padding: 7px; */ -webkit-box-shadow: 2px 1px 20px -4px rgba(0, 0, 0, 0.75); -moz-box-shadow: 2px 1px 20px -4px rgba(0, 0, 0, 0.75); box-shadow: 2px 1px 20px -4px rgba(0, 0, 0, 0.75); z-index: 44; cursor: pointer; }
.bannerSlider { width: 70%; margin-left: 25%; }
.bannerSlider img { margin: auto; margin-top: 13px; margin-bottom: 13px; }
.bottomBanner .slick-next { right: -16px !important; }
.bottomBanner .slick-prev { left: 37px; }
.footer { padding: 14px; text-align: center; }
.outerFooter { background: #343434; padding-bottom: 24px; }
.footer img { max-width: 80%; cursor: pointer; }
.footer img:hover { opacity: 0.7; cursor: pointer; }
.subFooter { background: #141414; text-align: center; color: white; padding: 8px; border-top: solid 1px #505050; }
.subFooter a { color: #C7C7C7; }
.mainMenu * { z-index: 2; }
.mainMenu { background: #555454; z-index: 1000 !important; position: fixed; width: 100%; top: 80px; }
ul.open { background: #F3F3F3; }
ul.categoryList.open { background: #F9F9F9; }
.infoContainer { margin-top: 8px; }
.divider { float: left; font-size: 20px; }
.divider.filter { font-size: 15px; line-height: 38px; width: 100%; text-align: center; border-bottom: solid 1px #ccc; margin-bottom: 10px; color: #969696; margin-top: 3px; }
.ordenarPor { padding-left: 0 !important; }
.staticBar { position: fixed !important; top: 0; width: 100% !important; left: 0; z-index: 5; margin: 0; padding: 0; }
.ordenarPor button { background: transparent !important; color: #989898;/* text-decoration: underline; */ font-size: 12px; margin: 0; }
.ordenarPor button.active { color: black !important; }
.ordenarPor button:hover { color: black; }
.detailSlider img { margin: auto; }
.detailSlider .slick-prev:before,
.detailSlider .slick-next:before { color: #888888; }
.detailName { font-size: 20px; border-bottom: solid 2px #EAEAEA; padding-bottom: 16px; font-family: 'roboto-thin'; margin-bottom: 16px; text-align: center; width: 100%;/* padding-right: 40px; */ }
.detailContainer { max-width: 1000px; margin: auto; }
.detailSlider { margin-bottom: 20px; }
.detailSlider img { }
.detailSlider { -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; border: solid 1px #DCDCDC; padding: 9px; background: white; }
.detailThumbs .slick-slide { background: white; padding: 4px; border: solid 1px #ccc !important; margin: 4px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; max-width: 77px; }
.detailThumbs *,
.detailSlider * { cursor: pointer; }
.detailThumbs .slick-slide.slick-current { border: solid 1px #868686 !important; }
.detailPrices .abcPrice,
.detailPrices .normalPrice,
.detailPrices .internetPrice { width: 33.3%; font-size: 15px; height: 30px; float: left; font-family: 'RobotoRegular'; }
.detailContainer .abcPrice span,
.detailContainer .normalPrice span,
.detailContainer .internetPrice span { display: block; text-align: center; width: 100%; font-size: 22px; font-family: 'RobotoRegular' !important; letter-spacing: -1.3px; }
.detailDescription { font-family: Tahoma, Verdana, Segoe, sans-serif; font-size: 12px; line-height: 164%; background: white; padding: 20px; border: solid 1px #ccc; margin-bottom: 30px; z-index: 1 !important; border-top-left-radius: 0; float: left; width: 100%; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }
.detailTitle { margin-bottom: 11px; width: 100%; border-bottom: solid 1px #ccc; padding-bottom: 3px; font-size: 15px; }
.detailDescription span { font-size: 12px; color: #ca1500; }
.detailPrices { border-bottom: solid 2px #EAEAEA; height: 68px; float: left; font-size: 12px; text-align: center; }
.detailPayment { background: url(../img/producto/pagos.png) center 11px no-repeat; border-bottom: solid 2px #EAEAEA; color: #A49F9F; font-size: 15px; line-height: 31px; margin-bottom: 13px; background-size: 57%; text-align: center; padding-top: 52px; }
.detailComprar { background: #ca1500; -webkit-border-radius: 7px; -moz-border-radius: 7px; border-radius: 7px; padding: 6px 85px; color: white; font-size: 15px; margin: auto; display: table; text-shadow: 1px 1px 0px #666; margin-bottom: 18px; }
a.detailComprar:hover { background: red; }
.filterDest { background: url(../img/global/star_no.png) center left no-repeat #CACACB !important; padding-left: 21px !important; }
button.filter-btn.filterDest.active { background: url(../img/global/star.png) center left no-repeat #ca1500 !important; }
button.filter-btn.filterDest.active { }
.container.allContainer { }
.detailContainer p {/* width: 50%; */margin: 0 !important; float: left; text-align: justify; }
.sidr .programs { background: #4A4A4A; width: 100%; float: left; margin-left: 0; position: absolute; left: 0; margin-top: 88px; }
.sidr .divider.filter { color: white; }
.sidr button { width: 100%; margin: 2px; font-size: 14px; background: #808080; }
a#simple-menu { float: right; position: fixed; top: 56px; text-align: left; padding: 11px; color: white; background: url("../img/global/filter.png") 10px center no-repeat #4A4A4A; background-size: 17px; padding-left: 30px; font-size: 13px; width: 100%;/* right: 0; */ border-radius: 0; z-index: 12 !important; }
a#simple-menu:hover {/* background-color: #777777; */ }
html.sb-static .navbar { position: absolute; }
.closeModal { display: block; float: right; height: 20px; width: 20px; background: red; position: absolute; }
.programs a#simple-menu {/* float: right; *//* position: inherit; */top: 56px; width: 164px; background-size: 10%; text-align: right; padding-right: 42px; }
.sidr .programs button,
.sidr .programs a { width: 100%; background: #A2A2A2; font-size: 13px; }
.sidr .programs .active { background: #ca1500; }
.detailContainer .cbp-popup-close { float: right !important; background: #FBF7F8 !important; width: 100% !important; display: inherit !important; text-align: right; position: fixed; top: 113px; z-index: 999999 !important; font-size: 14px; max-width: 1000px; line-height: 45px; padding-left: 21px; }
.detailSlider .slick-next { right: 40px !important; }
.detailSlider .slick-next { right: 20px !important; }
.descriptionContainer { margin-bottom: 15px; padding: 0 !important; }
.detailThumbs { max-height: 365px; }
.detailContainer .discount { float: right; position: relative; left: 43px; }
.detailPrices .internetPrice span,
.detailPrices .abcPrice span { font-family: 'roboto-medium' !important; }
.detailThumbs img {    /* max-width: 51px; */
width: 100%; margin: auto; }
.sidr #simple-menu { background: url("../img/global/close.png") 128px center no-repeat #4A4A4A; }
.cbp-popup-singlePage .cbp-popup-close:before { display: block; content: "<<"; height: 20px; width: 17px; float: left;    /* background: red; */ }
#cssmenu last.ul ul ul { margin-left: -100%; }
#cssmenu ul ul.last ul { margin-left: -100%; }
.detailThumbs .slick-list { min-height: 410px; }
.col-xs-6.col-sm-3.socialBar { padding-top: 15px; text-align: center; }
img.socialImg {    /* width: 24%; */ }
img.nomano { cursor: default !important; }
span.botonVolver { background-color: #CA1500; padding: 10px; border-radius: 7px 7px 7px 7px; -moz-border-radius: 7px 7px 7px 7px; -webkit-border-radius: 7px 7px 7px 7px; border: 0px solid #000000; color: #fff; }
img { }
.logo { float: left; }
.time.Semanas{display: none !important;}
/*.time.weeks,.time.days{ display: none !important; }*/
div#main-example { background: rgba(0, 0, 0, 0.13); float: right; padding: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.time.days.flip:after,
.time.hours.flip:after,
.time.minutes.flip:after { content: ":"; width: 10px; float: right; height: 100%; margin-right: -10px; font-size: 29px; font-family: 'roboto-medium'; color: #2D2D2D; }


header img.apurate {}

.header img.apurate {
    float: left;
    max-width: 132px;
    margin-top: 4px;
    margin-right: 4px;
}

div#cuenta-atras {
    float: right;
    /* width: 375px; */
    text-align: right;
    margin-top: 9px;
    margin-right: 40px;
}

.stock {
    font-size: 11px;
    border-top: 1px dotted #ccc;
    margin-top: 7px;
    color: #666;
    padding-top: 2px;
    height: 12px;
}

.stock span {font-family: 'roboto-medium';color: #585858;}

.detailContainer .stock {
    text-align: center;
    font-size: 12px;
    border-top: none;
    margin-top: -15px;
    height: 22px;
}

.detailContainer .detailSku {
    text-align: center;
    border-top: 2px solid #EAEAEA;
    padding-top: 5px;
    font-size: 11px;
    margin-bottom: 10px;
}