<!doctype html>
<html lang="es" class="no-js">


<head>
    <title>Abcdin</title>
    <link rel="stylesheet" href="css/style.css">
    
    <script src="js/jquery.min.js"></script> <!-- NECESARIO PARA EL CONTADOR -->

</head>

<body>
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-W5BN2B" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-W5BN2B');
    </script>


    <div id="sb-site">
        <div class="container-fluid">


            <div class="header">
                <div class="container">
                    <div class="logo">
                        <a href=" "><img src="img/global/logo.png" /></a>
                    </div>
                    <div class="countdown-container" id="cuenta-atras">
                        <img src="img/global/apurate.png" class="apurate" />

                    </div>
                </div>
            </div>


        </div>




    </div>





</body>




<!--bootstrap-->
<script src="libs/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="libs/bootstrap/css/bootstrap.css">



<!--countdown-->
<link rel="stylesheet" href="libs/countdown/countdown.css">
<script src="libs/countdown/lodash.min.js"></script>
<script src="libs/countdown/jquery.countdown.min.js"></script>


<!--countdown-->
<script type="text/template" id="cuenta-atras-template">
    <div class="time <%= label %>">
        <span class="count curr top"><%= curr %></span>
        <span class="count next top"><%= next %></span>
        <span class="count next bottom"><%= next %></span>
        <span class="count curr bottom"><%= curr %></span>
        <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span>
    </div>
</script>

<script type="text/javascript">
    $(window).on('load', function() {

        var labels = ['Semanas', 'Días', 'Horas', 'Min', 'Seg'],
            //ACÁ SE CAMBIA LA FECHA
            nextYear = (7 + "/" + 2 + "/" + 2016),
            template = _.template($('#cuenta-atras-template').html()),
            currDate = '00:00:00:00:',
            nextDate = '00:00:00:00:00',
            parser = /([0-9]{2})/gi,
            $example = $('#cuenta-atras');

        // Parse countdown string to an object
        function strfobj(str) {
            var parsed = str.match(parser),
                obj = {};
            labels.forEach(function(label, i) {
                obj[label] = parsed[i]
            });
            return obj;
        }
        // Return the time components that diffs
        function diff(obj1, obj2) {
            var diff = [];
            labels.forEach(function(key) {
                if (obj1[key] !== obj2[key]) {
                    diff.push(key);
                }
            });
            return diff;
        }
        // Build the layout
        var initData = strfobj(currDate);
        labels.forEach(function(label, i) {
            $example.append(template({
                curr: initData[label],
                next: initData[label],
                label: label
            }));
        });
        // Starts the countdown
        $example.countdown(nextYear, function(event) {
            var newDate = event.strftime('%w:%d:%H:%M:%S'),
                data;
            if (newDate !== nextDate) {
                currDate = nextDate;
                nextDate = newDate;
                // Setup the data
                data = {
                    'curr': strfobj(currDate),
                    'next': strfobj(nextDate)
                };
                // Apply the new values to each node that changed
                diff(data.curr, data.next).forEach(function(label) {
                    var selector = '.%s'.replace(/%s/, label),
                        $node = $example.find(selector);
                    // Update the node
                    $node.removeClass('flip');
                    $node.find('.curr').text(data.curr[label]);
                    $node.find('.next').text(data.next[label]);
                    // Wait for a repaint to then flip
                    _.delay(function($node) {
                        $node.addClass('flip');
                    }, 50, $node);
                });
            }
        });
    });
</script>

</html>